{
  "comment": "",
  "method": "3p",
  "name": "NEW",
  "pose": {
    "a": 0,
    "b": 0,
    "c": 0,
    "x": 0,
    "y": 0,
    "z": 0
  },
  "ref_points": {
      "ref_1": {},
      "ref_2": {},
      "ref_3": {},
      "ref_4": {}
   }
}
