{
  "comment": "NEW",
  "gp": 0,
  "joint": {
    "j1": 0,
    "j2": 0,
    "j3": 0,
    "j4": 0,
    "j5": 0,
    "j6": 0
  },
  "cart": {
    "a": 0,
    "b": 0,
    "c": 0,
    "x": 0,
    "y": 0,
    "z": 0
  },
  "additional":{
    "j7": 0,
    "j8": 0,
    "j9": 0
  },
  "mode":"cart"
}
